<section id="contact" class="s-contact target-section" style="background-image: url('https://i.hizliresim.com/jkkiw73.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>İletişim</h3>
            <h1>Bana Ulaşın.</h1>

            <p class="lead">
                Namık Kemal Üniversitesi Bilgisayar Mühendisliği 3. sınıf öğrencisiyim. Web geliştirme alanında deneyim sahibiyim ve çalışmalarım ağırlıklı olarak ASP.NET MVC üzerine yoğunlaşmaktadır. İletişime geçmek için aşağıdaki bilgilerden bana ulaşabilirsiniz.
            </p>
        </div>
    </div>

    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form name="contactForm" id="contactForm" method="post" action="">
                <fieldset>
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="İsim" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Konu" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Mesaj" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Gönder</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
                Bir şeyler ters gitti lütfen tekrar deneyin.
            </div>

            <!-- contact-success -->
            <div class="message-success">
                Mesajınız gönderildi.Teşekkürler!<br>
            </div>
        </div>
        <div class="col-four tab-full contact__infos">
            <h4 class="h06">Telefon</h4>
            <p>
                Telefon: (+90) 555 193 3465 <br>
            </p>

            <h4 class="h06">Email</h4>
            <p>
                alirifatciftci@gmail.com<br>
            </p>

            <h4 class="h06">Adres</h4>
            <p>
                Pendik - İstanbul<br>
                <br>

            </p>
        </div>
    </div>
</section>
