<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Ali Rıfat ÇİFTÇİ
						<span class="user-level">Ali Rıfat</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Şifre Değiştir </span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Dashboard/Index">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-home"></i>
					<p>Siteye git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-binoculars"></i>
					<p>Hakkımda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Inbox">
					<i class="la la-inbox"></i>
					<p>Gelen Kutusu</p>
				</a>
			</li>
            <li class="nav-item">
				<a href="/ToDoList/Index">
					<i class="la la-street-view"></i>
					<p>Yapılacaklar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList">
					<i class="la la-list-alt"></i>
					<p>Deneyimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index">
					<i class="la la-phone-square"></i>
					<p>İletişim Bilgileri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>